dogs-vs-cats-redux-kernels-edition/.ipynb_checkpoints
dogs-vs-cats-redux-kernels-edition/results
dogs-vs-cats-redux-kernels-edition/sample
dogs-vs-cats-redux-kernels-edition/test
dogs-vs-cats-redux-kernels-edition/train
dogs-vs-cats-redux-kernels-edition/valid
dogs-vs-cats-redux-kernels-edition/sample_submission.csv
dogs-vs-cats-redux-kernels-edition/submission1.csv
dogs-vs-cats-redux-kernels-edition/submission2.csv
dogs-vs-cats-redux-kernels-edition/weights
state-farm-distracted-driver-detection/.ipynb_checkpoints
state-farm-distracted-driver-detection/sample
state-farm-distracted-driver-detection/test
state-farm-distracted-driver-detection/train
state-farm-distracted-driver-detection/valid
state-farm-distracted-driver-detection/driver_imgs_list.csv
state-farm-distracted-driver-detection/sample_submission.csv
state-farm-distracted-driver-detection/models
state-farm-distracted-driver-detection/results
state-farm-distracted-driver-detection/weights
invasive-species-monitoring/.ipynb_checkpoints
invasive-species-monitoring/test
invasive-species-monitoring/train
invasive-species-monitoring/valid
invasive-species-monitoring/train_labels.csv
invasive-species-monitoring/sample_submission.csv
invasive-species-monitoring/models
invasive-species-monitoring/results
the-nature-conservancy-fisheries-monitoring/.ipynb_checkpoints
the-nature-conservancy-fisheries-monitoring/annos
the-nature-conservancy-fisheries-monitoring/models
the-nature-conservancy-fisheries-monitoring/results
the-nature-conservancy-fisheries-monitoring/sample
the-nature-conservancy-fisheries-monitoring/test
the-nature-conservancy-fisheries-monitoring/test_stg2
the-nature-conservancy-fisheries-monitoring/train
the-nature-conservancy-fisheries-monitoring/valid
the-nature-conservancy-fisheries-monitoring/sample_submission_stg1.csv
the-nature-conservancy-fisheries-monitoring/sample_submission_stg2.csv